.range-filter-container {
  display: flex;
  justify-content: space-between;
}
.range-filter-container > div {
  margin-top: 1em;
  margin-right: 1em;
}
.status-dropdown {
  margin-right: 15px !important;
}
.institution-dropdown {
  margin-right: 15px !important;
}
